<template>
  <Nav :admin='admin' />
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h1>Timer: {{ count }} </h1>
    <h1>hello cicd</h1>
    <h1>hello Vercel deployment !</h1>
  </div>
</template>

<script>

import Nav from '../components/Nav.vue'
export default {
  name: 'HelloWorld',
  data(){
    return{
      count:0,
      timer:'',
      admin: true,
    }
  },
  components:{Nav},
  props: {
    msg: String
  },

  mounted(){
    this.timer = setInterval(()=>{
      this.count += 1;
    },1000)
  },
}
</script>



<style scoped>
</style>
