<template>
  <nav>
    <router-link :to="{ path: '/redirect' }">redirect</router-link>
    <router-link :to="{path:'/profile'}">profile</router-link>
    <a v-if='admin' id='admin' href="/admin">admin Page</a>
  </nav>
</template>

<script>
export default {
    name:'navBar',
    props:{
        admin:{
            type: Boolean,
            default: false
        },
    }
}
</script>

<style>

nav{
    width: 100vw;
    height: 12vh;
    padding: 2rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}
a{
    font-size: 2rem;
    color: white;
    text-align: center;
}

</style>