<template>
  <router-view />
</template>

<script>


export default {
  name: 'App',
}
</script>

<style scoped>
*{
  margin:0;
  padding:0;
}
/* body, html{
  width: 100%;
  padding: 2rem;
} */
</style>